<div>
  <div class="pt-8 lg:pt-12">
    <article class="border-b border-grey-lighter pb-8">
      <span class="mb-4 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green">category</span>
      <a x-link href="/blog/test" class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary">Vulputate ut pharetra sit amet aliquam id diam maecenas ultricies</a>
      <div class="flex items-center pt-4">
        <p class="pr-2 font-body font-light text-primary dark:text-white">July 19, 2020</p>
        <span class="font-body text-grey dark:text-white">//</span>
        <p class="pl-2 font-body font-light text-primary dark:text-white">4 min read</p>
      </div>
    </article>
    <article class="border-b border-grey-lighter pt-10 pb-8">
      <div class="flex items-center">
        <span class="mb-4 inline-block rounded-full bg-grey-light px-2 py-1 font-body text-sm text-blue-dark">category</span>
        <span class="mb-4 ml-4 inline-block rounded-full bg-yellow-light px-2 py-1 font-body text-sm text-yellow-dark">category</span>
      </div>
      <a x-link href="/post" class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary">Diam sit amet nisl suscipit adipiscing bibendum est ultricies integer</a>
      <div class="flex items-center pt-4">
        <p class="pr-2 font-body font-light text-primary dark:text-white">June 30, 2020</p>
        <span class="font-body text-grey dark:text-white">//</span>
        <p class="pl-2 font-body font-light text-primary dark:text-white">5 min read</p>
      </div>
    </article>
    <article class="border-b border-grey-lighter pt-10 pb-8">
      <span class="mb-4 inline-block rounded-full bg-blue-light px-2 py-1 font-body text-sm text-blue">category</span>
      <a x-link href="/post" class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary">In eu mi bibendum neque egestas congue quisque egestas diam</a>
      <div class="flex items-center pt-4">
        <p class="pr-2 font-body font-light text-primary dark:text-white">June 26, 2020</p>
        <span class="font-body text-grey dark:text-white">//</span>
        <p class="pl-2 font-body font-light text-primary dark:text-white">3 min read</p>
      </div>
    </article>
    <div class="border-b border-grey-lighter pt-10 pb-8">
      <span class="mb-4 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green">category</span>
      <a x-link href="/post" class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary">Elit eget gravida cum sociis natoque penatibus et magnis dis</a>
      <div class="flex items-center pt-4">
        <p class="pr-2 font-body font-light text-primary dark:text-white">July 19, 2020</p>
        <span class="font-body text-grey dark:text-white">//</span>
        <p class="pl-2 font-body font-light text-primary dark:text-white">4 min read</p>
      </div>
    </div>
    <article class="border-b border-grey-lighter pt-10 pb-8">
      <div class="flex items-center">
        <span class="mb-4 inline-block rounded-full bg-grey-light px-2 py-1 font-body text-sm text-blue-dark">category</span>
        <span class="mb-4 ml-4 inline-block rounded-full bg-yellow-light px-2 py-1 font-body text-sm text-yellow-dark">category</span>
      </div>
      <a x-link href="/post" class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary">Ut tellus elementum sagittis vitae et leo duis ut diam</a>
      <div class="flex items-center pt-4">
        <p class="pr-2 font-body font-light text-primary dark:text-white">June 30, 2020</p>
        <span class="font-body text-grey dark:text-white">//</span>
        <p class="pl-2 font-body font-light text-primary dark:text-white">5 min read</p>
      </div>
    </article>
    <article class="border-b border-grey-lighter pt-10 pb-8">
      <span class="mb-4 inline-block rounded-full bg-blue-light px-2 py-1 font-body text-sm text-blue">category</span>
      <a x-link href="/post" class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary">Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc</a>
      <div class="flex items-center pt-4">
        <p class="pr-2 font-body font-light text-primary dark:text-white">June 26, 2020</p>
        <span class="font-body text-grey dark:text-white">//</span>
        <p class="pl-2 font-body font-light text-primary dark:text-white">3 min read</p>
      </div>
    </article>
  </div>

  <div class="flex pt-8 lg:pt-16">
    <span class="cursor-pointer border-2 border-secondary px-3 py-1 font-body font-medium text-secondary">1</span>
    <span class="ml-3 cursor-pointer border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary">2</span>
    <span class="ml-3 cursor-pointer border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary">3</span>
    <span class="group ml-3 flex cursor-pointer items-center border-2 border-primary px-3 py-1 font-body font-medium text-primary transition-colors hover:border-secondary hover:text-secondary dark:border-green-light dark:text-white dark:hover:border-secondary dark:hover:text-secondary">Next <i class="bx bx-right-arrow-alt ml-1 text-primary transition-colors group-hover:text-secondary dark:text-white"></i></span>
  </div>
</div>
