<div>
  <div class="flex items-center pb-6">
    <img src="/assets/img/icon-post.png" alt="icon post" />
    <h3 class="ml-3 font-body text-2xl font-semibold text-primary dark:text-white">My posts</h3>
    <a x-link href="/blog" class="flex items-center pl-10 font-body italic text-green transition-colors hover:text-secondary dark:text-green-light dark:hover:text-secondary">
      See more
      <img src="/assets/img/long-arrow-right.png" class="ml-3" alt="arrow right" />
    </a>
  </div>

  <section x-cloak x-include="components/post-list.html"></section>

</div>
